.contactContainer{
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    max-width: 300px;
    padding: 10px;
    background-color: rgb(145, 241, 233);
    align-items: center;
}
.contactlist{
    display: flex;
    flex-direction: column;
    
}
.contactIteam{
    display: block;
    text-align: left;
    justify-content: center;
}

.contactBtn{
height: 30px;
align-items: center;
}